@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

*{padding:0;margin:0;}


#container1{
    width: 100%;
    height: 150px;
    text-align: center;
}

#container2{
    width: 100%;
    height: 600px;
    text-align: center;
}

.logo{
    width: 150px;
    height: 150px;
}

.titolo{
    font-family: 'Archivo Black', sans-serif;
}

#dateAge{
    position: relative;
    top: 20px;
    width: 300px;
    height: 50px;
    border-color: black;
    border-radius: 5px;
    font-size: 20px;
    font-family: 'Archivo Black', sans-serif;
    text-align: center;
}

#verificate{
    position: relative;
    top: 50px;
    width: 300px;
    height: 50px;
    background-color: #ff3c7a;
    color: #fff;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    font-family: 'Archivo Black', sans-serif;
    cursor: pointer;
}


#container3{
    width: 100%;
    height: 300px;
    text-align: center;
}

.vuotoLogo{
    width: 100px;
    position: relative;
    top: 50px;
}

.messaggio{
    position: relative;
    top: 70px;
    font-family: 'Archivo Black', sans-serif;
    font-size: 20px;
}

#chiudiVuoto{
    position: relative;
    top: 100px;
    width: 300px;
    height: 50px;
    background-color: #ff3c7a;
    color: #fff;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    font-family: 'Archivo Black', sans-serif;
    cursor: pointer;
}
